<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="Workstation_pu" transaction-type="JTA">
        <description>Hibernate 5 Persistence Unit.</description>
        <!--<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>-->
        <jta-data-source>java:jboss/datasources/ComputeServer_DataSource</jta-data-source>
        <properties>
            <property name="jboss.as.jpa.providerModule" value="application" />
            <property name="hibernate.dialect" value="org.hibernate.dialect.HSQLDialect"/>
            <property name="hibernate.current_session_context_class" value="thread"/>
            <!--<property name="hibernate.transaction.manager_lookup_class" value="org.hibernate.transaction.JBossTransactionManagerLookup" />-->
            <!--<property name="hibernate.transaction.factory_class" value="org.hibernate.transaction.JTATransactionFactory"/>-->
            <!--<property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform" />-->
            <!--<property name="hibernate.connection.release_mode" value="auto" />-->
        </properties>
    </persistence-unit>
    <persistence-unit name="Sage_pu" transaction-type="JTA">
        <description>Hibernate 5 Persistence Unit.</description>
        <!--<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>-->
        <jta-data-source>java:jboss/datasources/Sage_DataSource</jta-data-source>
        <properties>
            <property name="jboss.as.jpa.providerModule" value="application" />
            <property name="hibernate.dialect" value="org.hibernate.dialect.HSQLDialect"/>
            <property name="hibernate.current_session_context_class" value="thread"/>
            <!--<property name="hibernate.transaction.manager_lookup_class" value="org.hibernate.transaction.JBossTransactionManagerLookup" />-->
            <!--<property name="hibernate.transaction.factory_class" value="org.hibernate.transaction.JTATransactionFactory"/>-->
            <!--<property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform" />-->
            <!--<property name="hibernate.connection.release_mode" value="auto" />-->
        </properties>
    </persistence-unit>
</persistence>
