
.AdvancedBlastPreviousSequenceSuggestBox  { width: 330px; } /*added*/
.AdvancedBlastProgramOptionsPanel { margin: 15px 0 10px 20px; }
.AdvancedBlastLoadingLabel { margin-left: 10px; }
.AdvancedBlastStatusLabel  { margin-top: 3px; white-space: nowrap; }
.BlastInfoPopup { margin-top: 3px; }
