
/*
* Entity Detail styles
*/
.detailMainPanel {
    width: 100%;
}
.detailPanelError {
    font-size: 10pt;
    color: red;
    font-weight: bold;
}
.detailMessageError {
    font-size: 9pt;
    color: red;
    vertical-align: middle
}
.detailAlignmentBox {
    width: 100%;
}
.detailCrossLinkedEntitiesBox {
    margin-top:15px;
    width: 100%;
}
.detailSampleDataAndMapPanel {
    margin-top:15px;
    width: 100%;
}
.bseDetailSequenceText {
    font-size: 9pt;
    font-family: Courier,monospace;
}
.readDetailTabPanel {
    height: 500px; width: 100%; margin-top:10px;
}
.readDetailMetaDataPanel {
    margin-top:10px;
    height:440px;
}
.readDetailFeaturesPanel {
    margin-top:10px;
    height: 450px;
    width: 100%;
}
.readDetailSampleDataBox {
    padding-right: 20px;
    width: 400px;
}
.readDetailSiteDataBox {
    padding-right: 20px;
    width: 400px;
}
.readDetailClearRangeTip {
    font-size: 7pt;
    background-color: #DEEDDE;
}
.readDetailSequenceClearRangeText {
    font-size: 9pt;
    font-family: Courier,monospace;
    background-color: #DEEDDE;
}
.readDetailIPTitledBox {
    vertical-align: top;
}
.readDetailIPScrollPanel {
    /*width: 400px;*/
    width: 100%;
    font-size: 8pt;
}
.readDetailIPScrollPanelFixedWidth {
    width: 200px;
    font-size: 8pt;
}
.readDetailSiteScrollPanel {
/*height: 300px;*/
    height: 100%;
    width: 100%;
}
.readDetailMapBox {
    width: 470px;
    height: 200px;
}
.readDetailSampleDataPanel {
    width: 100%;
}
.readDetailSiteTabScrollPanel {
    height: 256px;
}
.readDetailSiteListBox {
    background-color: #FFFFFF;
}
.rnaDetailTabPanel {
    width: 100%;
    margin-top:10px;
}
.rnaDetailMetaDataPanel {
    margin-top:10px;
    height:440px;
}
.rnaDetailFeaturesPanel {
    margin-top:10px;
    margin-bottom:10px;
    width: 100%;
}
.orfDetailTabPanel {
    height: 500px; width: 100%; margin-top:10px;
}
.orfDetailMetaDataPanel {
    margin-top:10px;
    height:440px;
}
.orfDetailFeaturesPanel {
    margin-top:10px;
    height: 450px;
    width: 100%;
}
.orfDNADetailPanel {
    margin-top:10px;
    margin-bottom:15px;
    width: 100%;
}
.orfPeptideDetailPanel {
    margin-top:15px;
    margin-bottom:15px;
    width: 100%;
}
.peptideDetailTabPanel {
    width: 100%; margin-top:10px;
}
.peptideDetailMetaDataPanel {
    margin-top:10px;
    height:440px;
}
.peptideDetailFeaturesPanel {
    margin-top:10px;
    margin-bottom:10px;
    width: 100%;
}
.peptideDetailAnnotationsPanel {
    margin-top:15px;
    height: 450px;
    width: 100%;
}
.peptideAnnotationBox {
    margin-top:15px;
}
.peptideDNADetailPanel {
    margin-top:10px;
    margin-bottom:15px;
    width: 100%;
}
.peptideORFDetailPanel {
    margin-top:10px;
    margin-bottom:10px;
    width: 100%;
}
.scaffoldDetailTabPanel {
    height: 500px; width: 100%; margin-top:10px;
}
.scaffoldDetailMetaDataPanel {
    margin-top:10px;
    height:440px;
}
.scaffoldDetailFeaturesPanel {
    margin-top:10px;
    height: 450px;
    width: 100%;
}
.sampleReadsTablePanel {
    width: auto;
}
.clusterMembersDataPanel {
    margin-top: 7px;
}
.dependentTableTitleSpacer {
    margin-top: 15px;
}
.dependentTableTitle {
    vertical-align: middle;
    text-align: left;
    font-size: 10pt;
    padding: 1px 0px 2px 0px;
}
.dependentTableAccession      { margin: 1px 0px 0px -1px; } /* added */
.dependentTableTitleHighlight { padding: 1px 2px 2px 1px; } /* added */
