
/*
 * Edit Project and Edit Publication Styles
 */

.EPFullPanel {
    width: 100%;
}

.EPFullTextBox {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 90%;
}

.EPSaveButton {
    width: 80px;
}


/* Project/Publication Details-Tab */

.EPTextBox {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 300px;
}

.EPsymbolTextBox {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 150px;
}

.EPWebTextBox {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 225px;
}

.EPCheckBox { border: 0; padding: 0; margin: 0; outline: darkseagreen; white-space: nowrap;}
.EPSymbolLabel { font-size: 13pt; padding:0; margin:0; border: 0; font-weight: bold; }
.EPWebLabel { font-size: 13pt; padding:0; margin:0; border: 0; font-weight: bold; }

.EPDateBox {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 100px;
}

.EPURLTextBox {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 247px;
}

.EPAuthorTextBox {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 300px;
}

.EPJournalTextBox {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 125px;
}

.EPJournalNumber {
    background-color: white;
    border: 2px inset #BBBBBB; /*gives embbeded look*/
    margin: 0;
    font-size: 10pt;
    width: 40px;
}

.AuthorTable { width: 100%; border: 3px double #999999; }

.commaList {
    color: gray;
    font-size: 9;
}

/* Project/Publication Description-Tab */
.EPDescriptionPrompt {
    width: 100%;
    height: 40px;
}

.EPTextPanel {
    width: 100%;
    height: 300px;
}

.EPAbstractTextPanel {
    width: 100%;
    height:70px;
}

/* Project Publication-Tab */
.EPPublicationButton {
    width: 150px;
}

.EPPublicationTable {
    width: 100%;
    border: 3px double #777777;
    background-color: #FFFFFF;
}

.EPPublicationListBox {
    width: 400px;
    font-size: 10pt;
    background-color: white;
}

/* Publication Preciew-Tab */
.EPText {
    font-size: 10pt;
}



/* Required Panel */
.requiredInnerPanel {
    font-size: 10pt;
    text-align: center;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    background-color: #F9F9F9;
/*height: 21px;*/
}

.requiredOutterPanel {
/*color: purple;*/
    background-color: #F9F9F9;
    width: 85px;
/*height: 21px;*/
}







