
/* Overrides GSearchControl CSS Classes defined in
 * http://www.google.com/uds/css/gsearch.css */
/* 
 * .gsc-control : the primary class of the control
 */
.gsc-control {
  width: 100%;
}
/* Disable the searcher tabs  */
.gsc-tabsArea {
    margin-top: 10px;
    display: none;
}
