
/*
* Home page styles
*/

.recentSearchInfoBulletImage {
}
.searchSecondaryText {
    color: gray;
    font-size: 9pt;
    margin-top: 1px;
}
.RecentSearchesTitleBox {
    width: 250px;
}
.RecentBLASTResultsTitleBox {
    width: 250px;
}
.RecentSearchesNumHits{
    color: rgb(234, 94,0);     /* lighter brown/orange */
    text-align: center;
    font-weight: bold;
}
.RecentSearchesCategoryImage {
    margin: 0 15px 0 0;
}
.RecentSearchesCategory {
    font-size: 8pt;
    font-weight: bold;
    color: rgb(30,30,128);
    margin: 0 0 0 10px;
}
.featuredProjectImage {
    border: 1px solid rgb(102,153,204);
    width: 75%;
    height: 75%;
    cursor: pointer;
    margin-top: 14px;
}
