
body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 9pt;
    margin: 0;
    padding: 0;
}
a:link {
    text-decoration: underline;
    color: blue;
}
a:visited {
    color: purple;
}
a:hover, a:active, a:focus {
    color: #FF9900;
}
#content_box {
    background-color: #FFFFFF;
}
#page_wrapper {
    padding: 0px 10px 10px 10px;
}
.breadcrumbs           { padding: 10px 7px 23px 0px; }
.breadcrumbAnchorImage { margin: -5px 1px 0px 2px }
.breadcrumbLink        { color: #00539d; }
.breadcrumbDivider     { padding: 0 3px 0 4px; font-size: 13px; }
.breadcrumbDockPanel {
    width: 1020px; /* right-aligns bookmark link */
    margin: -8px 0px 0px 0px;
}
.bookmarkPanel         { margin-top: 7px;  }
.linkImage { margin: -2px 4px 0px 5px; z-index: 101; }

.loadingMsg { /* page loading msg shown before GWT loads */
    font-size: 12pt;
    color: #999999;
    position: absolute;
    top: 300px;
    text-align: center;
    width: 100%;
}
.loadingMsgText { /* normal size msg within a panel */
    font-size: 9pt;
    color: #FF3300; /* greaterGreater orange */
    vertical-align: middle
}
.text {
    font-size: 9pt;
    vertical-align: middle;
}
.nowrapText {
    font-size: 9pt;
    white-space: nowrap;
    vertical-align: middle;
}
.disabledText {
    font-size: 9pt;
    color: #AAAAAA;
    vertical-align: middle;
}
.largeText {
    font-size: 12pt;
    vertical-align: middle;
}
.smallText {
    font-size: 8pt;
    vertical-align: middle;
}
.smallDisabledText {
    font-size: 8pt;
    color: #AAAAAA;
    vertical-align: middle;
}
.popperUpperText {
    font-size: 9pt;
    vertical-align: middle;
    color: black;
    border-bottom: 1px dashed blue;
}
.popperUpperTextHover {
    cursor: pointer;
    font-size: 9pt;
    color: black;
    background-color: #D7F0FF;
    border-bottom: 1px dashed blue;
}
.popperUpperTextClick {
    cursor: pointer;
    font-size: 9pt;
    color: black;
    background-color: #D7F0FF;
    border-bottom: 1px blue;
}
.smallPopperUpperText {
    font-size: 8pt;
    vertical-align: middle;
    color: black;
    border-bottom: 1px dashed blue;
}
.smallPopperUpperTextHover {
    cursor: pointer;
    font-size: 8pt;
    color: black;
    background-color: #D7F0FF;
    border-bottom: 1px dashed blue;
}
.nowrap { /* can be added to other styles */
    white-space: nowrap;
}
.allowwrap { /* can be added to other styles */
    white-space: normal;
}
.fixedWidthText {
    font-size: 9pt;
    font-family: Courier,monospace;
}
.infoText { /* small text that decorates something else */
    font-size: 8pt;
    vertical-align: middle;
}
.infoPrompt { /* small prompt that decorates something else */
    font-size: 8pt;
    font-weight: bold;
    vertical-align: middle;
}
.infoTextDisabled {
    font-size: 8pt;
    vertical-align: middle;
    color: #999999;
}
.comingSoon {
    font-size: 8pt;
    color: #999999;
}
.superscript {
    vertical-align: super;
    /*line-height: 0.5em;*/ /* reduces spacing on the superscript line to normal (works in FF, looks bad in IE) */
}
.description {
    font-size: 9pt;
    font-style: italic;
    vertical-align: middle;
}
.hint {
    font-size: 8pt;
    vertical-align: middle;
    height: 100%;
    color: #999999;
    white-space: nowrap;
}
.error {
    font-size:  9pt;
    font-weight: bold;
    color: red
}
.requiredInformation {
    font-size:  12pt;
    font-weight: bold;
    color: red;
}
.textLink {
    font-size: 9pt;
    color: blue;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}
.wrappableTextLink {
    font-size: 9pt;
    color: blue;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    white-space: normal;
}
.disabledTextLink {
    font-size: 9pt;
    color: #BBBBBB;
    font-style: normal;
    text-decoration: underline;
    cursor: default;
}
.notLoggedInTextLink {
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
    color: red;
}
.textHover {
    color: #993300; /* brown  */
    cursor: pointer;
    font-size: 9pt;
}
/* Like a text link, but smaller. */
.smallTextLink {
    font-size: 8pt;
    color: blue;
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
}
/* the "|" between links */
.linkSeparator {
    font-size: 9pt;
    vertical-align: middle;
    color: #555555;
    padding: 0px 5px 0px 5px;
}
/* the "|" between small links */
.smallLinkSeparator {
    font-size: 8pt;
    vertical-align: middle;
    color: #555555;
    padding: 0px 3px 0px 3px;
}
/* the "/" between controls */
.controlSeparator {
    font-size: 8pt;
    vertical-align: middle;
    color: #777777;
    padding: 0px 15px 0px 15px;
}
.disabledSmallTextLink {
    font-size: 8pt;
    color: #AAAAAA;
    font-style: normal;
    text-decoration: underline;
    cursor: default;
}
.externalTextLink { /* used by publication html stored in the database -*/
    font-size: 9pt;
    color: blue;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    text-decoration: underline;
    white-space: normal; /* need to allow wrapping */
}
.smallFooterLink { /* little links in the footer */
    font-size: 8pt;
    color: blue;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    text-decoration: underline;
}
.prompt{
    font-size: 9pt;
    font-weight: bold;
    font-family: Arial,serif;
    vertical-align: middle;
    margin: 0;
    color: black;
}
.nowrapprompt{
    font-size: 9pt;
    font-weight: bold;
    font-family: Arial,serif;
    vertical-align: middle;
    margin: 0;
    white-space: nowrap;
    color: black;
}

/* TODO: use addStyleName() on promptHover, just change color */
.promptHover {
    color: #993300; /* brown  */
    cursor: pointer;
    font-size: 9pt;
    font-weight: bold;
    font-family: Arial,serif;
    vertical-align: middle;
    margin: 0;
}
.italicPrompt{
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial,serif;
    font-style: italic;
    vertical-align: middle;
    margin: 0;
}
.floatImg { /* buffer around floated image */
	float: left;
	margin: 0px 20px 5px 0px;
}
.caption {
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
}
.linkedImage  {
    border: 3px double #999999;  /* nicer border than default fat blue box */
}
.gwt-ListBox {
    /*font-size: 10pt;*/
    background-color: white;
    font-size: 9pt;
    font-weight: normal;
    font-family: Arial,serif;
    vertical-align: middle;
}
.gwt-TextBox {
    font-size: 10pt;
    background-color: white;
}
.gwt-RadioButton {
    background-color: #F9F9F9;
    border: none;
    outline: none;
    padding: 0;
}
.jspTitle { /* for non-GWT JSPs */
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    /*border-bottom: 1px solid #777777;*/
}

.gwt-MenuBar { } /* wrapper around menu bar and all popups */
.gwt-MenuBar-Popup { /* wrapper around the popup part of the menu */
    background-color: #EAF7FD; /* TitledBox title blue */
    border: 1px solid cornflowerblue;
}
.topLevelMenuItem { /* the menu item that houses the drop-down (looks like a button) */
    color: blue;
    background-color: #EAF7FD; /* TitledBox title blue */
    padding: 0px 1px 0px 6px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid #000099;
    border-bottom: 1px solid #000099;
    font-size: 8pt;
    cursor: pointer;
    white-space: nowrap;
}
.disabledTopLevelMenuItem { /* the menu item that houses the drop-down (looks like a button) when not enabled */
    color: #AAAAAA;
    background-color: #EFEFEF;
    padding: 0px 1px 0px 6px;
    border: 1px solid ;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    font-size: 8pt;
    cursor: default;
    white-space: nowrap;
    margin-left: 2px;
}
.gwt-MenuBar .gwt-MenuItem { /* menu items in the drop-down */
    color: black;
    background-color: rgb(243, 249, 252);  /*very light blue */
    padding: 0px 2px 0px 2px;
    font-size: 8pt;
    cursor: pointer;
    white-space: nowrap;
}
.gwt-MenuBar .gwt-MenuItem-selected { /* menu item when selected/hovered over */
    color: white;
    background-color: #1A7DC1;/* research tab blue */
}
.gwt-MenuBar .gwt-MenuItem-NotLoggedIn { /* menu items in the drop-down when user's not logged in */
    color: red;
    background-color: rgb(243, 249, 252);  /*very light blue */
    padding: 0px 2px 0px 2px;
    font-size: 8pt;
    cursor: pointer;
    white-space: nowrap;
}
.tableTopLevelMenuItem { /* top level menu item in a table */
    color: blue;
    background-color: #EAF7FD; /* TitledBox title blue */
    padding: 0px 1px 0px 6px;
    border-top: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #000099;
    border-bottom: 1px solid #000099;
    font-size: 8pt;
    cursor: pointer;
    white-space: nowrap;
}
.advancedSortDirectionRadioButton {
    background-color: white;
    border: none;
}

/** Spacers to separate cells in panels since GWT bug causes CSS margins and padding to display differently in IE and FF */
.tinySpacer  { margin: 1px; font-size: 1pt; }  /*  2px spacer (1+1 top/bottom,   1+1 left/right) */
.smallSpacer { margin: 2px; font-size: 2pt; }  /*  4px spacer (2+2 top/bottom,   2+2 left/right) */
.spacer      { margin: 5px;  }  /* 10px spacer (5+5 top/bottom,   5+5 left/right) */
.bigSpacer   { margin: 10px; }  /* 20px spacer (10+10 top/bottom, 10+10 left/right) */
.giantSpacer { margin: 20px; }  /* 40px spacer (20+20 top/bottom, 20+20 left/right) */

/** prompt entry areas */
.textBox {
    background-color: white;
    font-size: 9pt;
    font-weight: normal;
    font-family: Arial,serif;
    vertical-align: middle;
    margin: 0;
    color: black;
}
.textBoxError {
    background-color: red;
    font-size: 9pt;
    font-weight: normal;
    font-family: Arial,serif;
    vertical-align: middle;
    margin: 0;
    color: black;
}
/*
 * Styled links like this: [hide]
 */
.actionLink { /* the text of the action link */
    font-size: 8pt;
    font-weight: normal;
    text-decoration: underline;
    color: blue;
    vertical-align: middle;
    cursor: pointer;
    margin:0;
    /*padding: 0px 1px 0px 1px; *//* padding for optional brackets */
}
.actionLink:hover { color: #FF9900; }
.disabledActionLink {
    font-size: 8pt;
    font-weight: normal;
    text-decoration: underline;
    color: #AAAAAA;
    vertical-align: middle;
    cursor: default;
    margin:0;
}
.actionLinkBracket {
    font-size: 8pt;
    font-weight: normal;
    color: #555555;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 0 1px 0 1px;
}
.actionLinkTextWrapper { /* padding around the action link text */
    padding: 0px 2px 0px 4px;
}
.actionLinkPopupText {
    font-size: 8pt;
}
.notLoggedInActionLink {
    font-size: 8pt;
    font-weight: normal;
    text-decoration: underline;
    color: red;
    vertical-align: middle;
    cursor: pointer;
}
.actionLinkImage           { cursor: pointer; } /* added to image */
.backActionLinkImage       { margin: 4px -1px 0 0; }
.widerActionLinkLeftImage  { margin: 4px 3px 0 0; }
.widerActionLinkRightImage { margin: 4px 0 0 3px; }

.greaterGreater {
    font-size: 11px;
    font-weight: bold;
    color: #FF3300;
}
.disabledGreaterGreater {
    font-size: 11px;
    font-weight: bold;
    color: rgb(255,150,130);
}

/*
 * Tabs
 */
.gwt-TabBar { }
.gwt-TabBar .gwt-TabBarFirst {
    padding-left: 5px;
}
.gwt-TabBar .gwt-TabBarRest { }

.roundedTabBody {
    padding: 3px 10px 0px 10px;
    background-color: #EFEFEF;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
}
.roundedTabBodyRounding {
    background-color: #EFEFEF;
}
.roundedTab { /* pushes the whole tab down 1 to overlap the tab contents */
    position: relative; top: 1px;    /* Need shift down to cover the tab body border */
}
.roundedTabBarItem { /* the label within the rounded tab */
    background-color: #DDDDDD;
    font-size: 9pt;
    font-weight: normal;
    padding: 0px 7px 3px 7px;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    cursor: pointer;
}
.roundedTabBarItemHover {
    background-color: #DDDDDD;
    font-size: 9pt;
    font-weight: normal;
    padding: 0px 7px 3px 7px;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    cursor: pointer;
    color: #FF9900; /* orange */
}
.roundedTabBarItem-selected {
    background-color: #EFEFEF;
    font-size: 9pt;
    font-weight: bold;
    border-bottom: 1px solid #EFEFEF;
    cursor: default;
}
.roundedTabBarItemRounding {
    background-color: #DDDDDD;
}
.roundedTabBarItemRounding-selected {
    background-color: #EFEFEF;
}

/*
 * Vertical tabs (tabs vertically along left side instead of on top)
 */
.gwt-VerticalTabPanel { /* whole box containing the tabs and the body under the tabs */
    background-color: #EFEFEF;
    padding-right: 2px; /* allows right border to show up */
    margin: 4px;
}
.gwt-VerticalTabBar { /* top bar of tabs */
    background-color: #F9F9F9;
}
.gwt-VerticalTabBar .gwt-VerticalTabBarFirst {   /* before tabs */
    background-color: #F9F9F9;
    padding-top: 20px;
}
.gwt-VerticalTabBar .gwt-VerticalTabBarRest {    /* after tabs */
    background-color: #F9F9F9;
    padding-top: 5px;
}
.gwt-VerticalTabBar .gwt-VerticalTabBarItem {
    background-color: #F9F9F9;
    font-size: 10pt;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #F9F9F9;
    border-left: 1px solid #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    position: relative; left: 1px;    /* Need shift left, to allow selected pane's border to be covered. */
}
.gwt-VerticalTabBar .gwt-VerticalTabBarItem-selected {
    background-color: #EFEFEF;
    border-top: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #EFEFEF;
    position: relative; left: 1px;
}

.gwt-VerticalTabBody { /* bottom section, under tabs */
    background-color: #F9F9F9;
    border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    margin:3px;
}
.gwt-VerticalTabPanel .Bottom { /* bottom section, under tabs - doesn't work*/
    background-color: blue;
}

/*
 * Titled Panels - each one is considered a portlet.
 */
.portlets {
    padding-right: 8px;
    padding-bottom: 8px;
    background-color: white;
}
.portlet {
    /* Can't use top and bottom padding or else iE adds it to every element in VerticalPanel.  Uses Wrapper below instead */
    padding: 0px 10px 0px 15px; /* can't use top/bottom padding 'cause IE adds it to each element in VerticalPanel */
    width: 100%;
}
.portletContentsWrapper {
    background-color: #FDFFFF;
    border-right: 1px solid #5C9EBF;
    border-left: 1px solid #5C9EBF;
    width: 100%;
}
.titledPanel {
    width: 100%;
}
.portletTitle {
    height: 100%;
    width: 100%;
    vertical-align: top;
    font-size: 10pt;
    font-weight: bold;
    padding: 0px 10px 3px 8px;

    background-image: url(/jacs/images/common/headergradient-lightblue.jpg);
    background-repeat: repeat-x;
    background-position: bottom;

    border-left: 1px solid #5C9EBF;
    border-right: 1px solid #5C9EBF;
    border-bottom: 1px solid #BCDBE9;
}
.portletTopRounding { /* Rounded corner Panels/top */
    background-color: #BCDBE9;
    margin-right: 10px;
    margin-bottom: 10px;
}
.portletBottomRounding {
    /*background-color: #FFFFFF;*/
    background-color: #FDFFFF;
}

.secondaryPortlet {
    background-color: #DDDDDD;
}
.secondaryPortletContentsWrapper {
    padding: 10px 10px 5px 10px;
    background-color: #DDDDDD;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}
.secondaryPortletBottomRounding {
    background-color: #DDDDDD;
}
.secondaryPortletTopRounding {
    background-color: #ACACAC;
    margin-right: 10px;
    margin-bottom: 10px;
}
.secondaryPortletTitle {
    height: 100%;
    width: 100%;
    vertical-align: top;
    font-size: 9pt;
    /*font-weight: bold;*/
    text-align: center;
    color: black;

    padding: 0px 10px 3px 8px;

    background-image: url(/jacs/images/common/headergradient-gray.jpg);
    /*background-image: url(/jacs/images/common/headergradient-lightblue.jpg);*/
    background-repeat: repeat-x;
    background-position: bottom;

    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid white;
}

.plainRoundedPanel {
    padding: 10px 10px 5px 10px;
    background-color: #EEEEEE;
}
.plainRoundedPanelRounding {
    background-color: #EEEEEE;
}
.plainRoundedPanelWithBorder {
    padding: 10px 10px 5px 10px;
    background-color: #EEEEEE;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
}
.plainRoundedPanelWithBorderRounding {
    background-color: #EEEEEE;
}

/*
 * A rounded box with a floating title (floating on top of the top bar of the box)
 */
.titledBox { /* "wrapper" around rounded box */
}
.titledBoxContentsPanel {
    /* Can't use top and bottom padding or else iE adds it to every element in VerticalPanel.  Uses Wrapper below instead */
    padding: 0px 15px 0px 15px;
	z-index: 10;
}
.titledBoxContentsPanelWrapper {
    padding: 0px;
    background-color: #F9F9F9;
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
}
.titledBoxRounding { /* rounded corners of main box */
    background-color: #F9F9F9;
}
.titledBoxTopSpacer { /* spaces content from title rounded panel */
    height:15px;
    width: 200px; /* functions as min width for titled box */
}
.titledBoxLocator { /* pushes titled panel onto top line */
    position: absolute;
    margin: -12px 9px 0px 15px;
}
.titledBoxLabel { /* the title itself */
    padding: 0px 9px 0px 7px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    background-color: #EAF7FD;
    font-weight: bold;
    font-family: arial;
    font-size: 10pt;
    white-space: nowrap;
}
.titledBoxLabelDraggable { /* the title itself, when the titleBox is draggable by the title */
    padding: 0px 0px 0px 5px;
    background-color: #EAF7FD;
    font-weight: bold;
    font-family: arial;
    font-size: 10pt;
    cursor: move;
}
.titledBoxLabelDraggableHover { /* the title itself, when the titleBox is draggable by the title */
    padding: 0px 0px 0px 5px;
    background-color: #FFEEAB; /* gold */
    font-weight: bold;
    font-family: arial;
    font-size: 10pt;
    cursor: move;
}
.titledBoxLabelRounding { /* the rounded top/bottom of the title panel */
    background-color: #EAF7FD;
}
.titledBoxLabelRoundingDraggableHover { /* the rounded top/bottom of the title panel when draggable */
    background-color: #FFEEAB; /* gold */
}
.titledBoxActionLinkWrapper { /* pushes action links down over top line of titled box and away from the title */
    margin: 4px 0px 0px 12px;
}
.titledBoxActionLinkFirstSpacer { width: 3px; height: 9px; } /* spaces first action link icon away from top line */
.titledBoxActionLinkSpacer      { width: 7px; height: 9px; } /* spacer between each action link */
.titledBoxActionLinkBackground  { background-color: #FFFFFF; } /* background behind action link text and spacers */

.panelStyle {
    padding-left: 50px !important
    background-color: red;
}
.panelStyle * {
    padding-left: 0px;
    background-color: yellow;
}

/*
 * "Level 2" colors (for secondary boxes)
 */
.secondaryTitledBoxContentsPanel {
/* Can't use top and bottom padding or else iE adds it to every element in VerticalPanel.  Uses Wrapper below instead */
    padding: 0px 15px 0px 10px;
    z-index: 10;
}
.secondaryTitledBoxContentsPanelWrapper {
    padding: 0px;
    background-color: #EEEEEE;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    width: 100%;
}
.secondaryTitledBoxRounding {
    background-color: #EEEEEE;
}
.secondaryTitledBoxLabel {
    padding: 0px 9px 0px 7px;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    background-color: #EEEEEE;
    font-weight: bold;
    font-family: arial;
    font-size: 10pt;
    z-index: 100;
}
.secondaryTitledBoxLabelRounding { /* the rounded top/bottom of the title panel */
    background-color: #EEEEEE;
}
.secondaryTitledBoxActionLinkBackground  { background-color: #F9F9F9; } /* background behind action link text and spacers */

.tertiaryBox {
    background-color: #E0E0E0;
    padding: 0px 0px 0px 10px;
}
.tertiaryBoxRounding {
    background-color: #E0E0E0;
}
.tertiaryTitledBoxContentsPanel {
/* Can't use top and bottom padding or else iE adds it to every element in VerticalPanel.  Uses Wrapper below instead */
    padding: 0px 15px 0px 10px;
    z-index: 10;
}
.tertiaryTitledBoxContentsPanelWrapper {
    padding: 0px;
    background-color: #E0E0E0;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
}
.tertiaryTitledBoxRounding {
    background-color: #E0E0E0;
}
.tertiaryTitledBoxLabel {
    padding: 0px 9px 0px 7px;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    background-color: #E0E0E0;
    font-weight: bold;
    font-family: arial;
    font-size: 10pt;
    z-index: 100;
}
.tertiaryTitledBoxLabelRounding { /* the rounded top/bottom of the title panel */
    background-color: #E0E0E0;
}
.tertiaryTitledBoxActionLinkBackground  { background-color: #EEEEEE; } /* background behind action link text and spacers */

.clearBox {
    padding: 0px 0px 0px 10px;
}
.clearBoxRounding {
    background-color: #E0E0E0;
}
.clearTitledBoxContentsPanel {
/* Can't use top and bottom padding or else iE adds it to every element in VerticalPanel.  Uses Wrapper below instead */
    padding: 0px 15px 0px 10px;
    z-index: 10;
}
.clearTitledBoxContentsPanelWrapper {
    padding: 0px;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
}
.clearTitledBoxRounding { }
.clearTitledBoxLabelRounding { } /* the rounded top/bottom of the title panel */
.clearTitledBoxLabel {
    padding: 0px 5px 0px 3px;
    font-weight: bold;
    font-family: arial;
    font-size: 9pt;
    z-index: 100;
}
/* backgrounds for ClearTitledBox labels and action links */
.clearTitledBoxTitleLabel  { background-color: #F9F9F9; }
.tabColorBackground        { background-color: #EFEFEF; } /* title or action link background == tab color */

.whiteBox {
    background-color: #FFFFFF;
    padding: 0px 0px 0px 10px;
}
.whiteBoxRounding {
    background-color: #FFFFFF;
}
.whiteTitledBoxContentsPanel {
 /*Can't use top and bottom padding or else iE adds it to every element in VerticalPanel.  Uses Wrapper below instead */
    padding: 0px 15px 0px 10px;
    z-index: 10;
}
.whiteTitledBoxContentsPanelWrapper {
    padding: 0px;
    background-color: #FFFFFF;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
}
.whiteTitledBoxRounding {
    background-color: #FFFFFF;
}
.whiteTitledBoxLabel {
    padding: 0px 9px 0px 7px;
    border-right: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    background-color: #FFFFFF;
    font-weight: bold;
    font-family: arial;
    font-size: 10pt;
    z-index: 100;
}
.whiteTitledBoxLabelRounding { /* the rounded top/bottom of the title panel */
    background-color: #FFFFFF;
}
.whiteTitledBoxActionLinkBackground  { background-color: #F9F9F9; } /* background behind action link text and spacers */

/*
 * Standard data table
 */
.table {
    border: 3px double #777777;
    background-color: #FFFFFF;
}
.tableHeader {
    text-align: center;
    white-space: nowrap;
    padding: 1px 5px 4px 5px;
    background-color: #888888;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
}
.tableFooter {
    background-color: #CCCCCC;
    padding: 0px 5px 0px 5px;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
}
.tableHeaderText {
    color: white;
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    text-decoration: none;
}
.tableHeaderSortableText {
    color: white;
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.tableHeaderSortableTextHover {
    color: #FF9900; /* orange */
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.tableHeaderPopupHostText { /* header "hosts" popup description */
    color: white;
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px dashed white;
    cursor: pointer;
}
.tableHeaderPopupHostHover {
    color: #FF9900; /* orange */
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    border-bottom: 1px dashed #FF9900;
    text-decoration: none;
    cursor: pointer;
}
.tableCell {
    padding: 1px 5px 1px 5px;
    /*padding: 0px 5px 0px 5px;*/
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin: 0;
}
.tableCellNoPadding {
    padding: 0px 5px 0px 5px;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
.tableCellText {
    font-size: 9pt;
    white-space: nowrap;
}
.tableCellSelection {
    font-size: 9pt;
    white-space: nowrap;
    cursor: pointer;
}
.tableHeaderSortImage { margin-left: 5px; margin-top: 4px;}
.tableRowOdd   { background-color: #F3F3F3; } /* odd rows */
.tableRowEven  { background-color: #E5E5E5; } /* even rows */
.tableRowAll   { background-color: #F0F0F0; } /* all rows same color */
.tableRowHover { background-color: rgb(255,255,213); }  /* lighter yellow */
/*.tableRowPostSelect { background-color: rgb(168,209,236); } */  /* nice blue */
.tableRowPostSelect { background-color:  #FFFF99; } /* yellow */

/* Column Types */
.tableColumnGeneral { text-align: left; }
.tableColumnCentered{ text-align: center; }
.tableColumnNumeric { text-align: right; }

.centeredTable {
    border: 3px double #222222;
    background-color: #EEEEEE;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.gridCell {
    text-align: left;
    padding-right: 10px;
    padding-bottom: 3px;
}
.gridCellFullWidth {
    white-space: nowrap;
}
.gridCellBottom {
    text-align: left;
    padding-right: 10px;
}
.gridCellTop {
    vertical-align: top;
}
.gridCellBottomForReal {
    vertical-align: bottom;
}
.gridCellRight {
    text-align: right;
    padding-left: 10px;
    padding-bottom: 3px;
}
/*
 * Popups
 */
.popupOuterPanelRounding { /* Rounded corner Panels/top */
    background-color: #FFFFFF;
}
.popupOuterPanel { /* Outermost popup panel */
    background-color: #FFFFFF;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    padding: 0px 10px 0px 10px;
}
.popupContentsPanel { /* Panel containing all popup contents (under caption) */
    margin-bottom: 10px;
}
.popupTitlePanel {
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid #0161B7;
    margin-bottom: 8px;
}
.popupButtonPanel {
    margin-bottom: 8px;
}
.Caption { /* draggable title of the popup */
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    cursor: move;
}

.popupPanelRounding { /* Rounded corner Panels/top */
    background-color: white;
}
.popupPanel {
    background-color: white;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.blastFiltersBox {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*
 * Generic download box
 */
.downloadPopupOuterPanelRounding { /* Rounded corner Panels/top */
    background-color: #ECF8FE;
}
.downloadPopupOuterPanel { /* Outermost popup panel */
    background-color: #ECF8FE;
    border-left: 1px solid cornflowerblue;
    border-right: 1px solid cornflowerblue;
    padding: 0px 10px 10px 10px;
}
.downloadBoxContentsPanel {
/* Can't use top and bottom padding or else iE adds it to every element in VerticalPanel.  Uses Wrapper below instead */
    padding: 0px 15px 0px 10px;
    /*z-index: 10;*/
}
.downloadBoxContentsPanelWrapper {
    padding: 0px;
    background-color: #EAF7FD;
    border-right: 1px solid #99CCFF;
    border-left: 1px solid #99CCFF;
}
.downloadBoxRounding {
    background-color: #EAF7FD;
}
.downloadBoxLabel {
    background-color: #EAF7FD;
    border-right: 1px solid #99CCFF;
    border-left: 1px solid #99CCFF;
    padding: 0px 9px 0px 7px;
    font-weight: bold;
    font-family: arial;
    font-size: 10pt;
    z-index: 100;
    white-space: nowrap;
}
.downloadBoxLabelRounding { /* the rounded top/bottom of the title panel */
    background-color: #EAF7FD;
}
.downloadBoxActionLinkBackground { background-color: white; }

.secondaryDownloadBoxContentsPanel {
/* Can't use top and bottom padding or else iE adds it to every element in VerticalPanel.  Uses Wrapper below instead */
    padding: 0px 15px 0px 10px;
    width: 100%;
}
.secondaryDownloadBoxContentsPanelWrapper {
    padding: 0px;
    background-color: #DFF3FF;
    border-right: 1px solid #99CCFF;
    border-left: 1px solid #99CCFF;
    width: 100%;
}
.secondaryDownloadBoxRounding {
    background-color: #DFF3FF;
}
.secondaryDownloadBoxLabel {
    border-right: 1px solid #99CCFF;
    border-left: 1px solid #99CCFF;
    background-color: #DFF3FF;
    padding: 0px 9px 0px 7px;
    font-weight: bold;
    font-family: arial;
    font-size: 10pt;
    z-index: 100;
}
.secondaryDownloadBoxLabelRounding { /* the rounded top/bottom of the title panel */
    background-color: #DFF3FF;
}
.secondaryDownloadBoxLabelRounding { /* the rounded top/bottom of the title panel */
    background-color: #DFF3FF;
}
.secondaryDownloadBoxActionLinkBackground { background-color: #ECF8FE; }

/*
 * Generic file download popup
 */
.downloadFilePopupOuterPanel {
    background-color: #CEEAF9;
    border-left: 1px solid #99CCFF;
    border-right: 1px solid #99CCFF;
    padding: 0px 8px 5px 10px;
    /*width: 300px;*/
}

.downloadFilePopupOuterPanelRounding {
    background-color: #CEEAF9;
}

.downloadFilePopupFormatLine {
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
    width: 100%;
}
.downloadFilePopupCloseLinkWrapper {
    margin-top: 10px;
}
.downloadSortableFilterTableCaption {
    color: gray;
    padding-top: 1px;
    font-size: 9pt;
    font-style: italic;
    text-align: center;
    font-family: arial;
}

.downloadFilePopupDescription {
    width: 100%;
    font-size: 9pt;
    font-style: italic;
    vertical-align: top;
    padding: 0px 10px 15px 0px;
}

.closeButton {
    height: 15px;
    width:  15px;
    cursor: pointer;
}
/*
 * Buttons
 */
.buttonRounding {
    background-color: #DEF2F9;
}
.buttonPanel {
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    color: #006699;
    background-color: #DEF2F9;
    border-left: 1px solid cornflowerblue;
    border-right: 1px solid cornflowerblue;
    padding-left:   10px;   /* padding around button text */
    padding-right:  10px;   /* padding around button text */
    padding-bottom: 1px;
    cursor: default;
    white-space: nowrap;
}
.buttonRoundingHover {
    background-color: #FFEEAB;
}
.buttonPanelHover {
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    background-color: #FFEEAB;
    padding-left:   10px;   /* padding around button text */
    padding-right:  10px;   /* padding around button text */
    padding-bottom: 1px;
    border-left: 1px solid cornflowerblue;
    border-right: 1px solid cornflowerblue;
    cursor: pointer;
    color: #FF9900;
    white-space: nowrap;
}
.buttonSet { /* padding between buttons */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}
.buttonSetTop {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
}
.smallButtonPanel {
    font-size: 8pt;
    text-align: center;
    color: #006699;
    font-weight: bold;
    background-color: #DEF2F9;
    border-left: 1px solid cornflowerblue;
    border-right: 1px solid cornflowerblue;
    padding: 0 5px 0 5px;  /* padding around button text */
    white-space: nowrap;
}
.smallButtonPanelHover {
    font-size: 8pt;
    text-align: center;
    background-color: #FFEEAB;
    font-weight: bold;
    border-left: 1px solid cornflowerblue;
    border-right: 1px solid cornflowerblue;
    padding: 0 5px 0 5px;  /* padding around button text */
    cursor: pointer;
    white-space: nowrap;
    color: #FF9900;
}

.MoreInfoLinksBox {
    float: right;
    margin: 15px 0px 5px 10px;
}

/* TODO - sync this with ".d*" styles (same names with lowercase leading d's */
.DownloadPopupOuterPanelRounding { /* Rounded corner Panels/top */
    background-color: #BBBBBB;
}
.DownloadPopupOuterPanel { /* Outermost popup panel */
    background-color: #BBBBBB;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.DownloadPopupTitle {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 15px;
}

#footer {
    text-align:center;
    width: 100%;
    margin: 20px 10px 10px 10px;
    padding: 5px 0px 5px 0px;
}
.footerFont {
    font-size: 8pt;
}

.pagingPanel                { width: 100%; }
.pagingPanelScrollPanel     { width: 100%; }
.pagingPanelScrollPanelIE   { width: 100%; }
.pagingPanelControlsPanel   { width: 100%; }
.pagingPanelControlsPanelIE { width: 100%  }
.pagingPanelLoadingLabelSeparator { width: 50px; }
.pagingPanelPrevImage       { margin-top: 2px; }
.pagingPanelNextImage       { margin-top: 2px; }
.pagingPanelGotoMenu        { margin: 0px 5px 0px 5px; }

/*
.pagingPanelTable {border-bottom: 17px solid #FFFFFF;}
*/
/* to prevent next/previous buttons from misaligning with sortable table since they stretch to container's width  */
.pagingPanelTable {width: 100%;}

.prevLinkImage { margin-top: 4px; margin-right: 4px; }
.nextLinkImage { margin-top: 4px; margin-left:  3px; }

.projectSamplesPagingPanelScrollPanelIE   { width: 1000px; min-height: 80px; padding: 0px 0px 20px 0px; } /* 100% extends complete content, so we have to make it fixed */
.projectSamplesPagingPanelControlsPanelIE { width: 1000px; }
.projectSamplesTable {
    width:100%;
    border: 3px double #777777;
}
.mooreDataPagingScrollPanelIE   { width: 100%; } /* 100% extends complete content, so we have to make it fixed */
.mooreDataPagingPanelControlsPanelIE { width: 100%; }
.mooreOrganismTable {
    border: 3px double #777777;
}

/*
 * Drag and Drop
 */
.dragBoundaryArea {
    overflow: visible;
    margin: -12px 0px 0px 0px;
}
.draggableImage {
    cursor: move;
}

/**
* Pulldown that shows a custom popup
*/
.pulldownPopupWidget {
    border:    1px solid #777777;
    cursor: pointer;
    margin: 0;
}
.pulldownPopupText {
    padding: 1px 8px 2px 4px;
    font-size: 9pt;
    font-weight: normal;
    font-family: Arial,serif;
    vertical-align: middle;
}
.pulldownPopupTextHover {
    padding: 1px 8px 2px 4px;
    font-size: 9pt;
    font-weight: normal;
    font-family: Arial,serif;
    vertical-align: middle;
    color: blue;
    text-decoration: underline;
}
.pulldownPopupWidgetWarning { background-color: rgb(255, 255, 232); } /* light yellow */ 
.pulldownPopupWidgetNormal  { background-color: white; }

/**
*  Suggest Box - text area that shows pulldown of matching choices
*/
.suggestBox {
    width: 400px;
    font-size: 9pt;
    font-family: Arial,serif;
}
.suggestBoxPrompt       { margin-right: 8px; white-space: nowrap;} /* added*/
.suggestBoxRowSeparator { margin-top: 8px; } /* added*/
.gwt-SuggestBoxPopup { /* the suggestion popup */
    border: 1px solid black;
    font-size: 9pt;
    font-family: Arial,serif;
    cursor: pointer;
    background-color: white; /* required or FF is clear */
}
.gwt-SuggestBoxPopup .item { /* an unselected suggestion  */
    background-color: white;
    font-size: 9pt;
    font-family: Arial,serif;
}
.gwt-SuggestBoxPopup .item-selected { /* a selected suggestion */
    font-size: 9pt;
    font-family: Arial,serif;
    background-color: #FFFF99;
}
.suggestTextMatch { /* the segment of the suggestion that matches the typed input */
    color: red;
    /*color: darkblue;*/
    font-weight: bold;
}

/*
* Generic Menu Icons
*/
.MenuIconImage {
    margin: 5px 10px 0px 10px;
    cursor: pointer;
}
.MenuIconTitle {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
}
.MenuIconFooter { } /* not used */
.MenuIconPanelHover {
    background-color: rgb(230,244,252);
    border: 1px solid rgb(230,244,252);
    margin: 5px 10px 5px 10px;
    cursor: pointer;
}
.MenuIconPanelUnselected {
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    margin: 5px 10px 5px 10px;
}
.MenuIconPanelSelected {  /* not used but need margin and border or the icons jump on click */
    border: 1px solid #F9F9F9;
    margin: 5px 10px 5px 10px;
}
.PagingPanelShowControlPanel { margin-top: 4px; }

/* multi-select list stuff */
.MultiSelectImage { margin: 2px 3px 0 0; }
.MultiSelectList  { width: 350px; } /* min size to support paging controls */
.MultiSelectListPagingSeparatorPanel { margin-bottom: 2px; }
