
/*
 * Map Styles
 */
.mapBox          { width: 250px; }  /* min width */
.mapPanelNoMap   { }
.mapPanelWithMap { border: 3px double #999999; }
.mapBoxSeparatorLine {
    width: 100%;
    height: 1px;
    border-top: 1px solid #AAAAAA;
}

