
/*
* Browse by project page
*/
.BrowseProjectTitle {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    padding: 0px 0px 6px 0px;
}
.BrowseProjectContentSpacer {
    padding: 0;
    margin: 0;
    font-size: 8px;
}
.ProjectsSuggestBox  { width: 330px; } /*added*/
.ProjectInfoPopup {
    margin-top: 3px;
    width: 700px;
}
.ProjectSubsetMessage {
   margin: -9px 18px 0 0;
}
.ProjectTitlePanel {
    width: 100%;
    background-color: #E6EFF8; /* NYTimes blue */
    margin: 2px 0 10px 0;
    padding: 5px 10px 0 5px;
}
