
/*
 * Download Page widgets
 */
.DownloadPublicationProjectPrompt {
    margin-left: 5px;
}
.DownloadTabWrapper {
    margin: 30px 0px 30px 0px;
}
.DownloadPublicationBulletInTab {
    text-align: left;
    vertical-align: top;
}
.DownloadPublicationBulletInTabIE {
    text-align: left;
    vertical-align: top;
    margin: 0px 5px 0px 10px;
}
.DownloadPublicationTitleInTab {
    font-weight: bold;
    font-family: arial;
    font-size: 9pt;
    width: 300px;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
}
.DownloadPublicationTitleInTabHover {
    font-weight: bold;
    font-family: arial;
    font-size: 9pt;
    width: 300px;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
    color: #FF9900; /* orange */
    cursor: pointer;
}
.DownloadEmptyInTab {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.DownloadTabTopRow    { padding: 5px 0px 0px 0px; margin: 0px 0px 0px 0px; }
.DownloadTabMiddleRow { padding: 2px 0px 0px 0px; margin: 0px 0px 0px 0px; }
.DownloadTabBottomRow { padding: 0px 0px 10px 0px; margin: 0px 0px 0px 0px; }
.DownloadPublicationAuthorsInTab {
    font-weight: normal;
    font-family: arial;
    font-size: 9pt;
/*width: 350px;*/
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
}
.DownloadPublicationLinkWrapper {
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
}
.DownloadPubsRoundedTabActionLink { /* pushes action link onto top line to the right of the tabs */
    position: absolute;
    margin: -10px 9px 0px 155px;
    padding: 0px 2px 0px 0px;
    background-color: #F9F9F9;
}
.DownloadByPublicationPublicationTitle {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    padding: 4px 0px 6px 0px;
}
.DownloadByPublicationAuthor,
    .DownloadByPublicationSummary,
    .DownloadByPublicationAbstract {
    font-size: 9pt;
    font-family: Arial,serif;
    vertical-align: middle;
    margin: 0;
    padding: 4px 0px 5px 5px;
}
.DownloadByPubSpacer {
    padding-top: 4px;
}
.DownloadByPubsNoPapersMessage {
    margin: 10px 0px 0px 5px;
}
.DownloadSectionSpacer {
    padding-top: 50px;
    margin-top: 50px;
}
.DownloadFileDetailsPanel {
    padding-left: 20px;
    padding-right: 8px;
    padding-top: 8px;
    width: 100%;
}
.DownloadByDataTypePanel {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    background-color: #EFEFEF;
}
.DownloadDataFilesTreePanel {
    padding-bottom: 3px;
    padding-left: 8px;
    padding-top: 8px;
    width:550px;
}
.DownloadByDataTypeFilesScrollPanel {
    height: 250px;

    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;

    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}
.DownloadDataTypePanel {
    width: 100%;
}
.DownloadDirectoryItem {
    color: black;
    font-family: arial;
    font-size: 9pt;
}
.DownloadFileItem {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-family: arial;
    font-size: 9pt;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
}
.DownloadFileItemSize {
    color: #777777;
    font-size: 8pt;
}
.viewProjectImage { margin-right: 3px; } /* added to separate link text and image */
.exportImage      { margin-right: 3px; } /* added to separate link text and image */
.firstSeparator   { width: 15px; } /* separates project pulldown from the links */
.linkSeparator    { width: 2px; } /* separates the 2 links */

.MultiSelectTableLeftArrow  { margin: 3px 2px 0 0; }
.MultiSelectTableRightArrow { margin: 3px 0 0 2px; }
