
/* The table of new files. */
.DownloadNewFileGrid {
    border-width: 1px;
    border-style: outset;
    border-color: #BBBBBB;
    border-spacing: 1px;
    border-collapse: separate;
    background-color: #BBBBBB;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}
.DownloadNewFilesInsetsPanel {
    border-left: 2px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 2px;
    background-color: #EFEFEF;
    border-color: #BBBBBB;
}
.DownloadNewFileFilesHeader,
    .DownloadBrowseProjectsProjectHeader { /* Headers over the table of new files. */
    background-color: #BDBDBD;
    text-align: left;
    color: white;
    text-decoration: underline;
}
.DownloadNewFileDateHeader,
    .DownloadNewFileCommentHeader,
    .DownloadBrowseProjectsDescriptionHeader {
    background-color: #BDBDBD;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.DownloadNewFileSizeHeader {
    background-color: #BDBDBD;
    text-align: right;
    color: white;
    text-decoration: underline;
}
.DownloadNewFilesEvenRow,
    .DownloadProjectsEvenRow { /* Rows alternate color as they proceed down the page. */
    background-color: #E0E0E0;
}
.DownloadNewFilesOddRow,
    .DownloadProjectsOddRow {
    background-color: #EFEFEF;
}
.DownloadNewFilesHighlightedRow {
    background-color: lightBlue;
}
.DownloadNewFilesFileColumn { /* Columns within the table of new files. */
    color: blue;
    cursor: pointer;
}
.DownloadNewFilesDateColumn,
    .DownloadNewFilesCommentColumn,
    .DownloadNewFilesSizeColumn,
    .DownloadBrowseProjectsProjectNameColumn {
    color: blue;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}
.DownloadBrowseProjectsFutureProjectNameColumn {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}
.DownloadMetaDataPanel {
    font-size: 9pt;
    font-family: Arial,serif;
    vertical-align: middle;
}
/* Special prompt is necessary: to drop the color styling, and allow that to be handled externally. */
.DownloadInheritsColorPrompt {
    font-size: 9pt;
    font-weight: bold;
    font-family: Arial,serif;
    vertical-align: middle;
    margin: 0;
}
.DownloadAttribute {
    font-size: 9pt;
    vertical-align: middle;
}
.fileNameInDownloadFileDetails_File { /* See "italicPrompt" */
    font-size: 9pt;
    font-family: Arial,serif;
    font-style: italic;
    vertical-align: middle;
    margin: 0;
}
.fileAttributeInDownloadFileDetails_Description,
    .fileAttributeInDownloadFileDetails_Contact,
    .fileAttributeInDownloadFileDetails_Preview,
    .fileAttributeInDownloadFileDetails_Number_of_Profiles,
    .fileAttributeInDownloadFileDetails_File_Size {
    font-size: 9pt;
    vertical-align: middle;
}
.fileAttributeInDownloadFileDetails_Checksum {
    font-weight: bold;
    font-size: 9pt;
    vertical-align: middle;
}
