
.samplesProjectPromptPanel {
     margin: 18px 5px 15px 0;
 }
.SamplesLegendPanel {
     margin: 0 0 0 0;
     padding: 10px 0 0 0;
     height: 360px;
     width: 270px;
     /*background-color: white;*/
 }
.SampleMapLegendItemHighlight {
    /*background-color: #EAF7FD; *//* TitledBox title blue */
    background-color: #D7F0FF; /* PopperUpper hover blue */
}
.SampleMapLegendMarker {
    margin: -2px 0 0 0;
}
.SamplesDetailPrompt {
    text-decoration: underline;
}
.SamplesMultiSelectList {
    margin: 10px 5px 20px 0;
}
