
/*
 * Sequence Selection  widgets
 */
.ChooseMessage   { margin: 6px 0 4px 0; }
.UserTabPanel    { width: 100%; margin-top:10px; }
.UserNewSeqPanel { margin-top:10px; }
.SequenceTable   { border: 3px double #999999; } /* TODO: why is this necessary? */
.FileUploadMessage {
    margin-left: 25px;
    font-size: 9pt;
    font-weight: bold;
    font-family: Arial,serif;
    vertical-align: middle;
    color: black;
}
.FileUploadErrorMessage {
    margin-left: 25px;
    font-size: 9pt;
    font-weight: bold;
    font-family: Arial,serif;
    vertical-align: middle;
    color: red;
}
.UserNameBox { border: 1px inset #BBBBBB; margin: 10px 10px 10px 25px; }
.UserTextBox { border: 1px inset #BBBBBB; margin: 10px 10px 12px 25px; }
.UserNetworkBox { margin: 10px 10px 12px 25px; }
.NamePanel   { margin-bottom: 10px; }
.NameBoxEntry              {
    background-color: #FFFFFF;
    border: 1px inset #BBBBBB;
    margin-left: 15px;
    white-space: nowrap;
    font-size: 9pt;
}
