<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010-2011, J. Craig Venter Institute, Inc.
  ~
  ~ This file is part of JCVI VICS.
  ~
  ~ JCVI VICS is free software; you can redistribute it and/or modify it
  ~ under the terms and conditions of the Artistic License 2.0.  For
  ~ details, see the full text of the license in the file LICENSE.txt.  No
  ~ other rights are granted.  Any and all third party software rights to
  ~ remain with the original developer.
  ~
  ~ JCVI VICS is distributed in the hope that it will be useful in
  ~ bioinformatics applications, but it is provided "AS IS" and WITHOUT
  ~ ANY EXPRESS OR IMPLIED WARRANTIES including but not limited to
  ~ implied warranties of merchantability or fitness for any particular
  ~ purpose.  For details, see the full text of the license in the file
  ~ LICENSE.txt.
  ~
  ~ You should have received a copy of the Artistic License 2.0 along with
  ~ JCVI VICS.  If not, the license can be obtained from
  ~ "http://www.perlfoundation.org/artistic_license_2_0."
  -->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="propertyConfigurer" 
          class="org.janelia.it.jacs.spring.NonForgetfulPropertyPlaceholderConfigurer">
        <property name="location" value="jacs.properties"/>
    </bean>

    <!-- Creates the mbeanServer -->
    <bean id="mbeanServer"
          class="org.springframework.jmx.support.MBeanServerFactoryBean">
          <property name="locateExistingServerIfPossible" value="true" />
    </bean>

    <bean id="jmxExporter" 
          class="org.springframework.jmx.export.MBeanExporter">
	 <property name="server">
	     <ref local="mbeanServer" />
         </property>
         <property name="beans">
             <map>
                 <entry key="Hibernate:name=statistics"> 
                     <ref bean="statisticsBean"/>
                 </entry> 
             </map>
         </property>
    </bean>

    <!-- Hibernate 3.x session factory -->
    <bean id="sessionFactory" 
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="c3p0DataSource"/>
        <property name="mappingJarLocations" value="jacs-model.jar" />
        <property name="hibernateProperties">
              <props>
                 <prop key="hibernate.connection.pool_size">1</prop>
                 <prop key="hibernate.current_session_context_class">thread</prop>
                 <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                 <prop key="hibernate.show_sql">false</prop>
                 <prop key="hibernate.format_sql">false</prop>
                 <prop key="hibernate.generate_statistics">true</prop>
            </props>
        </property>
        <property name="eventListeners">
            <map>
                 <entry key="merge">
                     <bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/>
                     </entry>
            </map>
        </property>
    </bean>

    <!-- Hibernate 3.0's JMX statistics service -->
    <!-- Implements the StatisticsServiceMBean management interface -->
    <bean id="statisticsBean" 
          name="jacs:type=HibernateStatistics"
          class="org.hibernate.jmx.StatisticsService">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="blastSubjectsValidator" 
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
	<property name="target" ref="blastSubjectsValidatorTarget"/>
	<property name="transactionAttributes">
             <props>
	         <prop key="*">PROPAGATION_REQUIRED</prop>
	     </props>
	</property>
    </bean>

    <bean id="blastSubjectsValidatorTarget" 
          class="org.janelia.it.jacs.server.datavalidation.BlastSubjectNodeValidator">
        <property name="nodeDAO" ref="nodeDAO"/>
        <property name="reportBuilder" ref="validationReportBuilder"/>
    </bean>

    <bean id="validationReportBuilder" 
          class="org.janelia.it.jacs.server.datavalidation.SimpleBlastSubjectNodeValidationReportBuilder">
    </bean>

</beans>
